.product-detail {
  width: 100%;
  max-width: 360px;
  height: calc(100vh - 68px);
  top: 68px;
}

@media (max-width: 640px) {
  .product-detail {
    width: 100%;
    max-width: none;
    right: 0;
    left: 0;
  }
}